<div class="wity-app wity-app-crs wity-action-add">
	<form action="/admin/crs/game_add" method="post" class="form-horizontal">
		<h1>{lang Add a game}</h1>

        <fieldset>
    		<div class="form-group">
    			<label for="name" class="col-sm-2 control-label">{lang Side}*</label>
    			<div class="col-sm-10 col-lg-5">
    				<select name="side" id="side" class="form-control">
    				    <option value="dire">{lang Dire}</option>
    				    <option value="radiant">{lang Radiant}</option>
    				</select>
    			</div>
    		</div>

            <div class="form-group">
    			<label for="target" class="col-sm-2 control-label">{lang Target}*</label>
    			<div class="col-sm-10 col-lg-5">
    				<select name="target" id="target" class="form-control">
    				    <option value="1">1</option>
    				    <option value="2">2</option>
    				    <option value="3">3</option>
    				    <option value="4">4</option>
    				    <option value="5">5</option>
    				</select>
    			</div>
    		</div>
        </fieldset>

        <fieldset>
            <legend>{lang Players}</legend>

    		<div class="form-group">
    			<label for="code" class="col-sm-2 control-label">{lang Player %s name|1}*</label>
    			<div class="col-sm-10 col-lg-5">
    				<input id="player1name" class="form-control lang" type="text" name="players[][name]" />
    			</div>
    		</div>

            <div class="form-group">
                <label for="code" class="col-sm-2 control-label">{lang Player %s name|2}*</label>
                <div class="col-sm-10 col-lg-5">
                    <input id="player2name" class="form-control lang" type="text" name="players[][name]" />
                </div>
            </div>

            <div class="form-group">
                <label for="code" class="col-sm-2 control-label">{lang Player %s name|3}*</label>
                <div class="col-sm-10 col-lg-5">
                    <input id="player3name" class="form-control lang" type="text" name="players[][name]" />
                </div>
            </div>

            <div class="form-group">
                <label for="code" class="col-sm-2 control-label">{lang Player %s name|4}*</label>
                <div class="col-sm-10 col-lg-5">
                    <input id="player4name" class="form-control lang" type="text" name="players[][name]" />
                </div>
            </div>

            <div class="form-group">
                <label for="code" class="col-sm-2 control-label">{lang Player %s name|5}*</label>
                <div class="col-sm-10 col-lg-5">
                    <input id="player5name" class="form-control lang" type="text" name="players[][name]" />
                </div>
            </div>
        </fieldset>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input class="btn btn-primary" type="submit" value="{lang Submit}" />
			</div>
		</div>
	</form>
</div>
