<div class="wity-app-crs wity-app-crs-overlay">
	<img src="/themes/chroma/img/logo-crs.png" class="logo-crs" alt="">
	<img src="/themes/chroma/img/ftv-white.png" class="logo-ftv" alt="">
	<ul class="heroes-list">
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
	</ul>
	<ul class="players-list">
		<li>Chargement...</li>
	</ul>
	<div class="safari-timer"></div>
	<div class="host"><strong>Host :</strong> Thibault</div>
	<ul class="links">
		<li>
			<img src="/apps/crs/front/images/icons/froggedtv.png" alt="">
			<span>froggedtv.com</span>
		</li>
		<li>
			<img src="/apps/crs/front/images/icons/twitter.png" alt="">
			<span>@FroggedTV</span>
		</li>
		<li>
			<img src="/apps/crs/front/images/icons/facebook.png" alt="">
			<span>/FroggedTV</span>
		</li>
		<li>
			<img src="/apps/crs/front/images/icons/youtube.png" alt="">
			<span>/FroggedTV</span>
		</li>
	</ul>
</div>
