<div class="wity-app-crs wity-app-crs-overlay">
	<img src="/themes/chroma/img/logo-ftv.png" class="logo-ftv" alt="">
	<img src="/themes/chroma/img/logo-gaminglive.png" class="logo-gaminglive" alt="">
	<ul class="heroes-list">
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
		<li><img src="/apps/crs/front/images/target.png" alt="" /></li>
	</ul>
	<ul class="players-list">
		<li>Chargement...</li>
	</ul>
	<div class="safari-timer">

	</div>
	<ul class="links">
		<li>
			<img src="/apps/crs/front/images/icons/froggedtv.png" alt="">
			<span>www.froggedtv.com</span>
		</li>
		<li>
			<img src="/apps/crs/front/images/icons/twitter.png" alt="">
			<span>@FroggedTV</span>
		</li>
		<li>
			<img src="/apps/crs/front/images/icons/facebook.png" alt="">
			<span>/FroggedTV</span>
		</li>
	</ul>
</div>
